<script setup lang="ts">
import { defineProps } from 'vue';
import { GENDER, type Invitee } from "../types"

defineProps< {
    invitee: Invitee
}>()

</script>
<template>
    <div :style="{backgroundColor: invitee.gender ===  GENDER.MALE ? 'rgba(8,111,11)' : '#6918d3' }">
        {{ invitee.name }}
    </div>
</template>

<style scoped>
    div {
        background-color:#6918d3;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
        padding: 3px;
        color: #fff;
    }
</style>