<script setup lang="ts">
import {ref, computed } from "vue"
import Card from "./components/Cards.vue"
import  {GENDER, type Invitee } from "./types"

const name = ref("")
const gender = ref(GENDER.MALE)
const invitees = ref<Invitee[]>([])

const addInvite = () : void => {
  if (name.value) {
    invitees.value.push({
      id: Math.floor(Math.random() * 1000000),
      name: name.value,
      gender: gender.value
    })
  }

  name.value = ""
  gender.value = GENDER.MALE
}

const count = computed<{
    female: number,
    male: number
  }>(() => {
    return invitees.value.reduce((countObject, invitee) =>{
      if(invitee.gender === GENDER.MALE) {
        return {
          ...countObject,
          male: countObject.male + 1
        }
      }
      return {
        ...countObject,
        female: countObject.female + 1
      }
    }, {male:0, female:0})
}) 

</script>

<template>
  <main>
    <div>
      <h1>People Invited To My Wedding</h1>
      <div class="container">
        <input 
          type="text" 
          placeholder="Name..."
          v-model="name"
          @keypress.enter="addInvite"
        >
        <select v-model="gender" @keypress.enter="addInvite">
          <option :value="GENDER.MALE">Male</option>
          <option :value="GENDER.FEMALE">Female</option>
        </select>
      </div>
      <div class="cards">
        <Card 
          v-for="invitee in invitees" 
          :key="invitee.id" 
          :invitee="invitee"
        />
      </div>
      <div>
        <p>Female = {{ count.female }}</p>
        <p>Male = {{ count.male }}</p>
      </div>
    </div>
  </main>
</template>

<style scoped>
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:antiquewhite;
}

input, select {
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
}
</style>